<div style="border: slategrey solid;">
  <div id="cl" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let image of lugares.imagen let i = index" [ngClass]="{'active' : i == 0}">
        <img class="d-block w-100" [src]="image" alt="First slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#cl" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#cl" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    <div class="col" size-md="6" size-lg="5" size-xs="12">
      <div class="card-header bg-dark text-white text-center" >
        <h3>{{ lugares.nombre }}</h3>
      </div>
      <div class="row" style="background-color: #f5b361; margin-left: .1em; margin-right: .1em;">
       <label style="margin-left: 1em;" for="text1">Categoria: <b>{{ lugares.categoria }}</b></label>

        <label  style="margin-left: auto; margin-right: 1em;" for="text2">Fecha de Publicación: <b>{{ lugares.fecha | date: 'dd-MM-yyyy'}}</b></label>

      </div>
      <div class="card card-body" style="border: none;">
        <textarea style="border: none;" rows="15" disabled>{{ lugares.descripcion }}</textarea>
      </div>
      <div class="row" style="background-color: #f5b361;">        
        <label class="float-left" style="margin-left: 1em;" for="text4">Direccion del Evento: <b>{{ lugares.direccion}}</b></label> &nbsp;
      </div>
    </div>    
  </div>
