<div class="col-md-4" *ngFor="let events of eventos" style="margin-bottom: 1em;">
    <div class="card" style="background:#f5b361;" >
      <img class="card-img-top" [src]="events.imagen" (click)="getDetails(events._id)"/>
      <div class="card-header bg-dark text-white ">
          {{ events.nombre | slice:0:40 }}....
      </div>
      <div>
        <div class="float-right" style="margin-right: 0.5rem;">
          <label>{{ events.inicio | date: "dd-MM-yyyy" }}</label>
        </div>
      </div>
    </div>
  </div>
