<div class="col-md-4" *ngFor="let ns of noticias" style="margin-bottom: 1em;">
    <div class="card" style="background:#f5b361;" >
      <img class="card-img-top" [src]="ns.imagen[0]" (click)="getDetails(ns._id)"/>
      <div class="card-header bg-dark text-white ">
          {{ ns.titulo | slice:0:40 }}...
      </div>
      <div>
        <div class="float-right" style="margin-right: 0.5rem;">
          <label>{{ ns.fecha | date: "dd-MM-yyyy" }}</label>
        </div>
      </div>
    </div>
  </div>
